<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="transaction-card">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `transaction-card`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TransactionCard extends Polymer.Element {
      static get is() { return 'transaction-card'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'transaction-card'
          }
        };
      }
    }

    window.customElements.define(TransactionCard.is, TransactionCard);
  </script>
</dom-module>
